
#SignupDiv{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 70%;
    margin: auto;
    padding: 20px 0px;
}

#SignupDiv form{
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
#SignupDiv form label {
    display: flex;
    justify-content: space-between;
    width: 65%;
}
#SignupDiv form input{
    height: 23px;
    /* width: 220px; */
    border-radius: 9px;
}
#submitBtn{
    background-color: rgb(54, 36, 36);
    color: white;
    width: 100px;
    border-radius: 4px;
    padding: 3px 0px;
    cursor: pointer;
}

#submitBtn:hover{
  background-color: rgb(88, 86, 86);
}
/* Login Component CSS */
.LoginMainDiv{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 60%;
    margin: auto;
}

.LoginMainDiv input{
    width: 220px;
    height: 30px;
    border-radius: 8px;
}

.LoginMainDiv button{
    background-color: rgb(54, 36, 36);
    color: white;
    width: 100px;
    border-radius: 4px;
    padding: 3px 0px;
    cursor: pointer;
}

.LoginMainDiv button:hover{
  background-color: rgb(88, 86, 86);
}