
#blogsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    flex-direction: column;
}
.blogsTable{
    /* width: 80%; */
    margin: auto;
}
.blogsTable thead th{
    border: 1px solid red;
    padding: 20px;
    margin: 10px;
}

 .blogsTable tbody tr td{
    border: 1px solid white;
    padding:10px 24px;
}
table{
    background-color: teal;
    color: wheat;
    font-size: 1.1rem;
    padding: 30px 90px;
    border-radius: 15px;
    height: 400px;
}
.Links{
    color: white;
    background-color: wheat;
}
.deleteBtn{
    cursor: pointer;
}
#searchBar{
    margin: 10px 0px;
}
#searchBar input{
    width: 190px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 6px;
}
#searchBar button{
    background-color: black;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 6px;
}
.pageBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    background-color: gray;
    
}
.pageBtns > button{
    width: 200px;
    background-color: black;
    color: white;
}