
.inputSec{
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 80%;
    margin: auto;
    padding: 4%;
    background-color: teal;
    border-radius: 12px;
    padding-bottom: 5px;
    color: white;
}
.inputSec button{
    width: 10%;
    padding: 5px 10px;
    margin-top: -18px;
}
.inputSec form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    column-gap: 30px;
    width: 50%;
    row-gap: 20px;
}
form input,form textarea{
    color: black;
}
.title{
    width: 150%;
    height: 40px;
    border-radius: 6px;
}
.shortDesc{
    width: 150%;
    height: 100px;
}
textarea{
    width: 170%;
    height: 300px;
    border-radius: 6px;
    padding: 3px;
}

/* Blog View CSS  */
#blogView{
    width: 90%;
    margin: auto;
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px 20px;
    margin-top: 10px;
}
#blogView h1{
    font-weight: bold;
    font-size: 1.5rem;
}
#blogView p {
    text-align: start;
}
#blogView img{  
    width: 70%;
    margin: auto;
    height: 370px;  
}

@media screen and (max-width : 700px){
    #blogView{
        width: 96%;
    }
    #blogView img{ 
     width: 95%;
    }
}


/* Edit Blog CSS */
.inputSec button{
    background-color:rgb(45, 42, 59); 
    color: white;
    width: 230px;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
}
.inputSec button:hover{
    background-color: grey;
}