
.inputSec{
    background-color: teal;
    row-gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 10%;
}
.inputSec button{
    width: 10%;
    padding: 5px 10px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: yellow;
    column-gap: 30px;
    width: 50%;
}
#title{
    width: 200px;
}