#Navbar{

}
.navbarDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    background-color: rgba(14, 10, 10, 0.884);
    color: black;
    padding: 15px 0px;
}

.navbarDiv>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    font-size: 1.3rem;
}
@media screen and (max-width : 500px){
    .navbarDiv>div{
      column-gap: 10px;
      font-size: 1.2rem;
    }
}
.navLinks>* {
    color: white;
    text-decoration: none;
}
.navLinks>* :hover {
    text-decoration: underline; 
}

.navbarDiv {
    column-gap: 20px;
}

 .navLinks > *:hover{
    text-decoration: underline;
}   


#searchBar{
  /* position: absolute; */
  right: 10%;
  column-gap: 5px;
}

#SignOutBtn{
    background-color: rgb(211, 63, 18);
    padding: 4px 10px;
    position: absolute;
    right: 3%;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: medium;
}
#SignOutBtn :hover{
    background-color: rgba(211, 63, 18, 0.671);
}
