.navbarDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    background-color: rgba(0, 0, 0, 0.733);
    color: black;
    padding: 10px 0px;
}

.navLinks>* {
    color: white;
    text-decoration: none;
}

.navbarDiv {
    column-gap: 60px;
}

.navbarDiv>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 30px;
}

#SignOutBtn,.AuthLink {
    background-color: brown;
    cursor: pointer;
}